{% extends 'main.html' %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Begin -->
    <br><br><br><br><br><br>
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i> Accueil</a>
                        <span>Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                {%for contact in contacts%}
                <div class="col-lg-4">
                    <div class="contact__address">
                        <div class="section-title">
                            <h2>Contact info</h2>
                        </div>
                        <p>Nous sommes disponibles H24 sur ces addresses:</p>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <h5>{{contact.quartier}}</h5>
                                <p>{{contact.ville}} (Rep. du Benin ) </p>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <h5>Hotline</h5>
                                <span>229 {{contact.tel1}}</span>
                                <span>229 {{contact.tel2}}</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <h5>Email</h5>
                                <p>{{contact.mail}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="contact__form">
                        <div class="section-title">
                            <h2>M'envoyer un courriel</h2>
                        </div>
                        <p>Vous aviez pensé à quelque chose, n'hésitez pas.</p>
                        {% comment %} <form action="{% url 'join' %}" method="post" > {% endcomment %}
                        <form action="#" method="" >
                            {% csrf_token %}
                            <div class="input__list">
                                <input type="text" name="nom" placeholder="Nom">
                                <input type="text" name="objet" placeholder="Objet">
                            </div>
                            <textarea name="message" placeholder="Message"></textarea>
                            <button type="submit" class="site-btn" style="background:#CCB84A; color: white;">Envoyer un message </button>
                        </form>
                    </div>
                </div>
                {%endfor %}
            </div>
        </div>
    </section>
    <!-- Contact Section End -->




    <!-- Map Begin -->
    <div class="map">
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4032430.326977977!2d-0.33275593057022423!3d9.251424324282882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x102355421f3f135b%3A0x62af261e24aac744!2sIT%20Services%20%26%20Solutions!5e0!3m2!1sfr!2sbj!4v1711474380830!5m2!1sfr!2sbj" 
            width="600" height="580" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
        </div>
    </div>
    <!-- Map End -->

    




{% endblock content %}