{% extends "admin_site/main.html" %}

{% load static %}
{% block content %}
<br><br><br><br><br>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Le dernier morceau</h1>
        <a href="{% url 'administration' %}" class="btn btn-secondary">Retour à l'accueil</a>
    </div>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Vidéo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for morceau in morceaux %}
        <tr>
            <td>{{ morceau.titre }}</td>
            <td>{{ morceau.description }}</td>
            <td><a href="{{ morceau.video }}" target="_blank">Voir la vidéo</a></td>
            <td>
                <a href="{% url 'MorceauUpdate' morceau.id %}" class="btn btn-primary btn-sm">Modifier</a>
                <a href="{% url 'MorceauDelete' morceau.id %}" class="btn btn-danger btn-sm">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'MorceauCreate' %}" class="btn btn-success mt-3">Ajouter un nouveau morceau</a>
</div>
<br><br><br><br>
{% endblock %}
