{% extends "admin_site/main.html" %}

{% load static %}
{% block content %}
<br><br><br><br><br>
<div class="container mt-5">
    <h1>Supprimer l'Album</h1>
    <p>Êtes-vous sûr de vouloir supprimer cet album ?</p>
    <form method="post" class="mt-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Oui, supprimer</button>
        <a href="{% url 'AlbumList' %} class="btn btn-secondary"">Annuler</a>
    </form>
</div>
<br><br><br><br>
{% endblock %}
