{% load static %}
<!-- Footer Section Begin -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer class="footer spad set-bg" data-setbg="{% static 'img/footer-bh1.png' %}" style="opacity:95%">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer__address">
                        <ul>
                            <li>
                                <i class="fa fa-phone" style="color: #CCB84A"></i>
                                <p>Téléphone</p>
                                <h6>229 52 52 52 31</h6>
                            </li>
                            <li>
                                <i class="fa fa-envelope" style="color: #CCB84A"></i>
                                <p>Email</p>
                                <h6>contact@it-servicegroup.com</h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 col-md-6">
                    <div class="footer__social">
                        <h2>Raphaël Sheyi</h2>
                        <div class="footer__social__links">
                            <a href="https://www.facebook.com/sheyihr?mibextid=ZbWKwL"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://www.youtube.com/@RAPHAELSHEYI"><i class="fa-brands fa-youtube"></i></a>
                            <a href="https://www.instagram.com/invites/contact/?i=1f6hmvsggxrzp&utm_content=eyaecc"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.tiktok.com/@rsheyi?_t=8lTPyTY8em6&_r=1"><i class="fa-brands fa-tiktok"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6">
                    <div class="footer__newslatter">
                        <h4>Newsletter</h4>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send-o" style="color: #CCB84A"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | ITSS <i class="fa fa-heart" aria-hidden="true"></i> </p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
<!-- Footer Section End -->
