{% extends 'admin_site/main.html' %}
{% block content %}
<br><br><br><br><br>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Liste des Formations</h1>
        <a href="{% url 'administration' %}" class="btn btn-secondary">Retour à l'accueil</a>
    </div>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vidéo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>
                    <video width="320" height="240" controls>
                        <source src="{{ formation.video.url }}" type="video/mp4">
                        Votre navigateur ne supporte pas la balise vidéo.
                    </video>
                </td>
                <td>
                    <a class="btn btn-warning" href="{% url 'FormationUpdate' formation.id %}">Modifier</a>
                    <form action="{% url 'FormationDelete' formation.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success mt-3" href="{% url 'FormationCreate' %}">Ajouter une video</a>
</div>
<br><br><br><br>
{% endblock %}
